##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
print("Name : Zachary")
print("City : New York")

Name : Zachary
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING  this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING  this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [ ]:
num = int(input("input : "))
first_divide = num / 2
second_divide = first_divide / 2
third_divide = second_divide / 2

print(f"output is: {first_divide:.0f}, {second_divide:.0f}, {third_divide:.0f} ") # format to 0 decimal places

input : 2000
output is: 1000, 500, 250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [9]:
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))


print(x ** z)
print(x ** y)
print(x - y)
print(x % z)

x: 2
y: 3
z: 4
16
8
-1
2

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [17]:
quarter = 0.25
dime = 0.10
nickels = 0.05
cent = 0.01

quarter_amount = int(input("Quarters: "))
dime_amount = int(input("Dimes: "))
nickels_amount = int(input("Nickels: "))
cent_amount = int(input("Cents: "))

total = (quarter * quarter_amount) + (dime * dime_amount) + (nickels * nickels_amount) + (cent * cent_amount)
dollars = total // 1
cents = (total - dollars) * 100


print(f"the total amount as dollars and cents is: {dollars:.0f} dollar/dollars and {cents:0.0f} cents")

Quarters: 4
Dimes: 3
Nickels: 2
Cents: 1
the total amount as dollars and cents is: 1 dollar/dollars and 41 cents

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [19]:
word = "Python"

print(word[4])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [23]:
word = "Python"

print(word[2:-1])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [25]:

phrase = "Python Class"

print(word[7:])

Class

9 - Find the length of the String  **Welcome to Pace University**

In [26]:
phrase = "Welcome to Pace University"
print(len(phrase))

26

10 - Split the String  **Welcome to Pace University**  into words

In [27]:
phrase = "Welcome to Pace University"
phrase.split()

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [29]:
phrase = "Artificial intelligence"

phrase = phrase.replace("i", "o")

print(phrase)

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [30]:
phrase = "DATA Science"
phrase = phrase.lower();

print(phrase)

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [31]:

phrase = "DATA Science"
phrase = phrase.upper();

print(phrase)

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [32]:
phrase = "Artificial intelligence"
phrase = phrase[::-1]

print(phrase)

ecnegilletni laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [34]:
a = 150
b = 225

if a == b:
  print("a is equal to b")
if a != b:
  print("a is not equal to b")
if a > b:
  print("a is greater than b")
if a >= b:
  print("a is greater than or equal to b")
if a < b:
  print("a is less than b")
if a <= b:
  print("a is less than or equal to b")

a is not equal to b
a is less than b
a is less than or equal to b

###Lists

16 - Create a **list** of **lists** of integers elements

In [35]:
my_list = [[1, 2, 3], [4, 5, 6]]

17 - Create a **list** of **lists** of Text elements

In [36]:
my_list = [["apple", "bananas", "orange"], ["cucumber", "carrot", "broccoli"]]