##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [5]:
def smallest_of_two_evens(a,b):
    #Write code here!
    if (a % 2 == 0 and b % 2 == 0):
      if a < b:
        return a
      else:
        return b
    else:
      if a > b:
        return a
      else:
        return b

In [6]:
# Check1
smallest_of_two_evens(2,4)

2

In [7]:
# Check2
smallest_of_two_evens(2,5)

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [10]:
def animal_crackers(word1,word2):
    #Write code here!
    if word1[0] == word2[0]:
      return True
    else:
      return False

In [11]:
# Check1
animal_crackers('Lion', 'Lady')

True

In [12]:
# Check2
animal_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [14]:
def sum_twenty(n1,n2):
    #Write code here!
    if (n1 + n2 == 20):
        return True

    if (n1 == 20 or n2 == 20):
        return True

    return False;

In [15]:
# Check1
sum_twenty(20,10)

True

In [17]:
# Check2
sum_twenty(10,10)

True

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [18]:
def cap_first_four(name):
    #Write code here!
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [19]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [46]:
def rev_words(text):
    #Write code here!
    split_up = text.split(" ");
    split_up = split_up[::-1]
    return " ".join(split_up)

In [47]:
# Check1
rev_words('I am home')

'home am I'

In [48]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [65]:
def nearest_num(n):
    #Write code here!
    if abs(n - 100) <= 10 or abs(n - 200) <= 10:
      return True
    else:
      return False;

In [66]:
# Check1
nearest_num(104)

True

In [67]:
# Check2
nearest_num(150)

False

In [68]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [73]:
def contains_two_samevalues(nums):
    #Write code here
    place_holder = nums[0]
    for i in range(1, len(nums)):
      if (place_holder == nums[i]):
        return True
      else:
        place_holder = nums[i]

    return False;

In [77]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [75]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [76]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [79]:
def repeat_three(text):
    #write code here
    new_string = ""
    for i in range(0, len(text)):
      new_string += text[i] * 3

    return new_string

In [80]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [81]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [113]:
def count_primes(num):
    #Write code here
    prime_numbers = []
    for i in range(2, num + 1):
      if (i == 2 or i == 3 or i == 5 or i == 7) or (not(i % 2 == 0) and not(i % 3 == 0) and not(i % 5 == 0) and not(i % 7 == 0)):
        prime_numbers.append(i)

    print(len(prime_numbers))

In [114]:
# Check1
count_primes(100)

25